@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using EtsyClone.ViewModels;

@model ProfileViewModel

<h1>@Model.Profile.PosessiveName(@Model.Profile.CombineName()) Profile</h1>